﻿@using Microsoft.JSInterop

@inject IJSRuntime JsRuntime


@if (UserCredential.IsLogged & Hide)
{
    <MudAvatar  >
        <MudImage Src="@UserCredential.Avatar" ></MudImage>
    </MudAvatar>
}
else
{

    <div id="buttonDiv"></div>

}