@inherits LayoutComponentBase


<MudThemeProvider Theme="@CustomTheme" />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudLayout >
    <MudAppBar Style="@(_bgCyanLighten1)">
        <MudButton Variant='Variant.Text' Style="@(_bgCyanLighten1)" OnClick='DrawerToggle'>
            <img src="img/Moto-club.png" style="height:calc(2.575rem + .5vw)" />
        </MudButton>
        <MudSpacer />
        <MudText Typo="Typo.h6 " >Moto Club Côte d'Emeraude </MudText>
        <a src="https://www.facebook.com/groups/3406511032976994" title="Facebook Moto Club de la Côte d'Emeraude">
            <MudIcon Icon="@Icons.Custom.Brands.Facebook" a>
   
            </MudIcon>
            </a> 
    </MudAppBar>
    <MudDrawer @bind-Open='@_drawerOpen'>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer  >
            @Body
        </MudContainer>

    </MudMainContent>

</MudLayout>


@code {
    bool _drawerOpen = true;
    string _bgCyanLighten1 = $"background:{Colors.Cyan.Lighten1};";
    MudTheme CustomTheme = new MudTheme()
        {
            Typography = new Typography()
            {
                H6 = new H6Typography()
                {
                    FontFamily = new[] { "Poppins" },
                    FontSize = "calc(1.275rem + .3vw)",
                    FontWeight = "700",
                    LineHeight = "1.2",
                    LetterSpacing = ".0075em",
                    
                },
                    H5 = new H6Typography()
                {
                    FontFamily = new[] { "Poppins" },
                    FontSize = "calc(1.075rem + .3vw)",
                    FontWeight = "700",
                    LineHeight = "1.2",
                    LetterSpacing = ".0075em",

                }
            }
        };
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}