@inherits LayoutComponentBase
        @inject IJSRuntime JSRuntime


<MudThemeProvider Theme="@CustomTheme" />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="@(_bgCyanLighten1)">
        <MudButton Variant='Variant.Text' Style="@(_bgCyanLighten1)" OnClick='DrawerToggle'>
            <img src="img/Moto-club.png" style="height:calc(2.575rem + .5vw)" />
        </MudButton>
        <MudSpacer />
        <MudText Typo="Typo.h6 ">Moto Club Côte d'Emeraude </MudText>


        <MudButton OnClick="OpenFacebook" StartIcon="@Icons.Custom.Brands.Facebook" Size="Size.Large" Color="Color.Info" Variant="Variant.Text"></MudButton>

        <MudSpacer />


        <GoogleAuth Hide=true
                    ClientId="585473493833-qbr1pl7crit2rt70i5lppecp6ibrvebn.apps.googleusercontent.com"
                    @bind-UserCredential=@usercredential />

    </MudAppBar>
    <MudDrawer @bind-Open='@_drawerOpen' ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
        <footer>

            <div id="disclaimer">
                <p>
                    © 2025 MCCE/Moto club Pleurtuit, Moto Club de la Côte d'Émeraude. Tous droits réservés.
                </p>
                <p>
                    © Copyright MCCE/Moto Club of the Emerald Coast, moto club Pleurtuit
                </p>
                <a href="https://moto-club-cote-emeraude.pages.dev/legal">Mentions légales</a>
                <a href="https://moto-club-cote-emeraude.pages.dev/siteplan">Plan du site</a>
            </div>
        </footer>
    </MudMainContent>

</MudLayout>


@code {
    bool _drawerOpen = true;
    string _bgCyanLighten1 = $"background:{Colors.Cyan.Lighten1};";

    public Credential usercredential = new Credential();

    private async Task OpenFacebook()
    {
        await JSRuntime.InvokeVoidAsync("open", "https://www.facebook.com/groups/3406511032976994", "https://www.facebook.com/groups/3406511032976994");
    }
    MudTheme CustomTheme = new MudTheme()
        {
            Typography = new Typography()
            {
                H6 = new H6Typography()
                {
                    FontFamily = new[] { "Poppins" },
                    FontSize = "calc(1.275rem + .3vw)",
                    FontWeight = "700",
                    LineHeight = "1.2",
                    LetterSpacing = ".0075em",

                },
                H5 = new H6Typography()
                {
                    FontFamily = new[] { "Poppins" },
                    FontSize = "calc(1.075rem + .3vw)",
                    FontWeight = "700",
                    LineHeight = "1.2",
                    LetterSpacing = ".0075em",

                }
            }
        };
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}